<div class="more-tiles-container">
  <a
    routerLink="starwarscollection"
    routerLinkActive="selected"
    class="more-tile"
  >
    <div class="tile-icon fallback">
      <img src="../../assets/logo/starwars_logo.png" />
    </div>
    <p class="tile-text">
      Star Wars<br />
      Collection
    </p>
  </a>

  <a href="" class="more-tile">
    <div class="tile-icon fallback">
      <img src="../../assets/logo/calculator_logo.png" />
    </div>
    <p class="tile-text">Calculator</p>
  </a>

  <a href="" class="more-tile">
    <div class="tile-icon fallback">
      <img src="../../assets/logo/stopwatch_logo.png" />
    </div>
    <p class="tile-text">Stopwatch</p>
  </a>
</div>
